<div class="main-container">
  <app-header
    class="fixed-header"
    [board]="selectedBoard"
    [boardTitle]="selectedBoard?.name || ''"
    [isDarkTheme]="isDarkTheme"
    (boardUpdated)="onBoardSelected($event.id)"
    (boardDeleted)="onBoardDeleted()">
  </app-header>

  <div class="content-container">
    <app-sidebar
      class="fixed-sidebar"
      [selectedBoardId]="selectedBoard?.id || null"
      (boardSelected)="onBoardSelected($event)"
      (toggleSidebarEvent)="onToggleSidebar()">
    </app-sidebar>

    <div class="board-container">
      <app-board [board]="selectedBoard"></app-board>
    </div>
  </div>
</div>