.modal-container {
  background-color: var(--bg-color);
  padding: 32px;

  label {
    color: var(--red);
    padding-bottom: 24px;
  }

  p {
    color: var(--medium-grey);
    padding-bottom: 24px;
  }

  button {
    width: 40%;
    border: 0;
    border-radius: 20px;
    padding: 10px ;

    &.button-danger {
      background-color: var(--red);
      color: var(--white);
    }

    &.button-cancel {
      background-color: var(--main-purple-hover);
      color: var(--main-purple);
    }
  }
}
